
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
h1{
    background-color: black;
    color: rgb(255, 219, 17);
    font-size: 100px;
    font-family: "Protest Revolution", sans-serif;
    text-align: center;
}
a{
    text-decoration: none;
    font-size: 70px;
    background-color: black;
    width: 100px;
    color: rgb(255, 219, 17);
    font-family: "Protest Revolution", sans-serif;
    
}